* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.customer-review-page {
    background-image: url('/public//img/Customer-Review-Banner.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.Dropdown-root {
    text-align: left !important;
}

form#customer-rview {
    max-width: 544px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Dropdown-control {
    text-align: left;
}

.Dropdown-menu {
    text-align: left;
}

.contentWithWrapperbtn #writeReview-btn {
    background-color: #cc0033 !important;
}

/* .contentWithWrapperbtn {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
} */

button#writeReview-btn {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    padding: 5px 10px !important;
}



.main-form-wrapper {
    width: 650px;
    margin: auto;

}

.mb-3 {
    border: none;
    background:none;
    /* border: 1.5px dotted #cc0033 !important; */
}
.mb-3:focus{
    border: 1px solid #cc0033;

    /* border: 1.5px dotted #cc0033 !important; */
}

button#writeReview-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
}


input#inlineCheckbox1 {
    padding: 7px;
}

.Dropdown-menu {
    height: 161px;
    overflow-x: scroll;
}

.Dropdown-control {
    text-align: left !important;
}


@media only screen and (max-width: 768px) {
    .main-form-wrapper {
        width: auto;
    }

    .customer-review-page {
        background-image: url('/public//img/Phone-3.jpg') !important;
        background-size: cover;
        background-repeat: no-repeat;
    }

}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: none;
    color: #495057;
    background-color: none;
    background-clip: padding-box;
    border-bottom: 1px solid #cc0033;}


    .Dropdown-control {
        position: relative;
        overflow: hidden;
        background-color: white;
        border:none;
        border-radius: 2px;
        box-sizing: border-box;
        color: #333;
        border-bottom: 1px solid #cc0033;
        cursor: default;
        outline: none;
        padding: 8px 52px 8px 10px;
        transition: all 200ms ease;
    }

    @keyframes shake {
        0%, 100% {
        transform: translateX(0);
        }
        25%, 75% {
        transform: translateX(-10px);
        }
        50% {
        transform: translateX(10px);
        }
        }
        
        .shake {
        animation: shake 2s ease-in-out ;
        }
        

.form-control{
    border-bottom: 1px solid #cc0033 !important;
    border: none;
    color: #757575 !important;
    font-size: 16px;
    font-family: poppins;
}
.Dropdown-control{
    color: #757575 !important;
  
}