* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.store-admin {
  background-image: url('/public//img/background-1.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

input#inlineCheckbox1 {
  padding: 7px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap');


body {
  background-color: #E3E6E6;
  ;
}

.loginwith-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginwith-parent .loginwithChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.google {
  width: 20px;
}

.logo-admin img {
  width: 100px;
  text-align: center;
  height: auto;
}

.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  padding-left: 0;
  margin-right: 0.75rem;
}

.logo-admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-parent span {
  font-size: 12px;
}

.facebook-parent span {
  font-size: 12px;
}

.google-parent {
  border: 1px solid #ede5e5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3px 16px;
  border-radius: 20px;
  padding-bottom: 7px;
}

.facebook-parent {
  border: 1px solid #ede5e5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3px 16px;
  border-radius: 20px;
  padding-bottom: 7px;

}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 467px;
  border-bottom: 3px solid #2C3E50;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  border-radius: 5px;
  /* transform: translate(0, 50%); */
  background-color: #fff;
  /* box-shadow: 1px 1px 1px #ccc;
    border: 1px solid #ccc; */
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  outline: none;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #031329;
  outline: none;
  transition: all .2s ease-in-out;
}

.login input[type=submit] {
  border: none;
  background: #cc0033;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.login h2 {
  color: #031329;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.login input[type="text"]:focus {
  border: 1.5px dotted #cc0033 !important;

}

.login input[type="password"]:focus {
  border: 1.5px dotted #cc0033 !important;

}

@media only screen and (max-width: 768px) {
  .store-admin {
    background-image: url('/public//img/back-second-page.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login storeAdmin {
    background-color: transparent !important;
  }

  .login input[type=submit] {
    margin: 1px 0px !important;
    background-color: #cc0033;
  }
}

input[type="text"] {
  border: 1px solid #cc0033!important;
}

.Dropdown-control {
  padding: 12px 15px;
  border: 1px solid #cc0033!important;
}

input#inlineCheckbox1 {
  padding: 7px !important;
}

input[type="password"] {
  border: 1px solid #cc0033!important;
}

.orLoginwithCredn {
  background: rgb(204,0,51);
  background: linear-gradient(90deg, rgba(204,0,51,1) 2%, rgba(172,21,62,1) 53%);
  width: 450px;
  height: 100px !important;
  margin: auto;
  display: flex;
  margin-bottom: -20px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.logo_for_login {
  background-color: #9BACE6;
  width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 68px;
  font-size: 34px;
  border-radius: 50px;
  color: #fff;
}
.navbar navbar-expand-lg navbar-light bg-light{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;

}