.main-table-for-store {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.view-customer-page{
  /* background-image: url('/public//img/Customer-Review-Banner.jpg') !important; */
  background-image: url('/public//img/4.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;

}
.table>tbody {
    vertical-align: inherit;
    border: 1px solid #6c757d85;
}

button#searchbtn-header {
    outline: none !important;
    border: none;
}

tr#tabel-customer-admin {
    background-color: #abe2d74d;
}

tr#tabel-customer-admin th {
    color: #2C3E50;
    font-weight: 400;
    border-bottom-style: inherit;
    border-top-style: inherit;
}

tr#tabel-customer-admin th {
    color: #2C3E50;
    font-weight: 400;
}

.parent-store {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 2;
}

.main-storedashbaord .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {

    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

li.page-item {
    cursor: pointer;
}

a.page-link {
    cursor: pointer;
}

nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow {
    margin-bottom: 0px !important;
}

input#edit_storeInput {
    width: 140px;
}

.modal-backdrop {
    position: static;
    top: 0;
    left: 0;
    z-index: 1040;
    /* width: 100vw;
    height: 100vh; */
    background-color: #000;
}

button.edit-store {
    border: none;
    background-color: #1ABC9C;
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 10px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #cc0033;
    border: none;
}

button.submit-store {
    border: none;
    background-color: green;
    margin-right: 5px;
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
}

button.delete-store {
    border: none;
    background-color: red;
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
}

table.table.m-5.p-4 {
    background-color: #fff;
    border-radius: 8px;
}

.modal-backdrop.show {

    opacity: 0;
}

.tablehead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.salespersonname {
    cursor: pointer !important;
}

.salespersonname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

tr.viewcustomer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #d60b28;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.count-customer {
    position: relative;
    top: -28px;
    padding: 0px 0px;
    right: -194px;
    background-color: #cc0033 !important;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.all_customers {
    text-align: left;
    margin: 40px;
    margin-top: 0px;
   
}

.singleCustomer {
    display: flex !important;
    justify-content: space-between;
    max-width: 400px;
    gap: 20px;
    border: 1px solid #cc0033;
}

.parentHeadCustomer {
    border: 1px solid red;
    background-color: #cc0033;
    color: #fff;
}

.customerCount {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}